<div id="${pageNodeId}" class="prodSku" data-block-uuid="prodSku" data-minimumUnit-component='productSkuItem {\n        skuOptionItemList {\n          skuId\n          skuName\n          transNameList\n        }\n        skuValueItemList {\n          skuValueId\n          transValueList\n          stock\n        }\n      }'  data-default-setting={} >
  <script>
    leadComponentSite.miniUnitSku.init({
      callback:function(){
        console.log('sku init callback')
      }
    });
  </script>
</div>