<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./spec.css">
  <script type="module" src="./standalone.js"></script>
  <script src="./utils/spec-adjoin-martix.js"></script>
</head>

<body>
  <div id="prod-sku-container" class="minimum-unit-sku" data-minimumUnit-component="prodDetail-sku" data-appid="21212"
    data-component-style="1">

  </div>
  <script type="module" defer>
    const { html, render, useReducer, Component, useState, useMemo } = window.leadPreact;
    const SpecAdjoinMatrix = window.leadd_SpecAdjoinMatrix
    const initialState = {
      specList: [
        {
          "skuId": "QGfpUKAUfpiR",
          "skuName": "尺寸",
          "transNameList": [
            "S",
            "M",
            "L"
          ]
        },
        {
          "skuId": "QRKUAfpAUpiQ",
          "skuName": "颜色",
          "transNameList": [
            "红色",
            "黑色",
            "黄色",
            "白色"
          ]
        }
      ],
      specCombinationList: [
        // {
        //   "skuValueId": "gFAfpKCHUlYd",
        //   "transValueList": [
        //     "S",
        //     "红色"
        //   ],
        //   "stock": 1,
        //   "price": "80",
        //   "comparePrice": "100",
        //   "prodWeight": "20.000"
        // },
        // {
        //   "skuValueId": "gtAKpfWRUliT",
        //   "transValueList": [
        //     "S",
        //     "黑色"
        //   ],
        //   "stock": null,
        //   "price": "100",
        //   "comparePrice": "100",
        //   "prodWeight": ""
        // },
        {
          "skuValueId": "YtfpKArRUGEf",
          "transValueList": [
            "S",
            "黄色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "YifApKhwUQtL",
          "transValueList": [
            "S",
            "白色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "cGpUfACcKlZW",
          "transValueList": [
            "M",
            "红色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "cFAfKprHUQZs",
          "transValueList": [
            "M",
            "黑色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "YAfKUphmUQjO",
          "transValueList": [
            "M",
            "黄色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "ioUKAfCRpGZa",
          "transValueList": [
            "M",
            "白色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "cWUKAfMcpvtl",
          "transValueList": [
            "L",
            "红色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "cLApfKWmUQjw",
          "transValueList": [
            "L",
            "黑色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "hPUpKAhwfbEI",
          "transValueList": [
            "L",
            "黄色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        },
        {
          "skuValueId": "hEpfAKhHUbZz",
          "transValueList": [
            "L",
            "白色"
          ],
          "stock": null,
          "price": "100",
          "comparePrice": "100",
          "prodWeight": ""
        }
      ],
    };
    class Sku extends Component {
      render() {
        const { specList, specCombinationList } = initialState;
        // 已选择的规格，长度为规格列表的长度
        const [specsS, setSpecsS] = useState(specCombinationList[0].transValueList || Array(specList.length).fill(""));
        // 创建一个规格矩阵
        const specAdjoinMatrix = useMemo(() => new SpecAdjoinMatrix(specList, specCombinationList), [specList, specCombinationList]);
        // 获得可选项表
        const optionSpecs = specAdjoinMatrix.getSpecscOptions(specsS);
        // 获取选择的规格对象
        const selectedCombination = specAdjoinMatrix.getSelectedSpecCombinationList(specsS)
        const handleClick = function (bool, text, index) {
          // 排除可选规格里面没有的规格
          if (specsS[index] !== text && !bool) return;
          // 根据text判断是否已经被选中了
          specsS[index] = specsS[index] === text ? "" : text;
          setSpecsS(specsS.slice());
        };

        const classNames = (...args) => {
          let strClass = ''
          for (let itemObj of args) {
            for (let [key, val] of Object.entries(itemObj)) {
              if (val) {
                strClass += key + ' '
              }
            }
          }
          return strClass
        }

        const skuItem = ({ value, i, index }) => {
          const isOption = optionSpecs.includes(value); // 当前规格是否可选
          const isActive = specsS.includes(value); // 当前规格是否被选
          return html`<span
                key=${i}
                className=${classNames({
            specOption: isOption,
            specAction: isActive,
            specDisabled: !isOption,
          })}
                onClick=${() => handleClick(isOption, value, index)}
              >
            ${value}
          </span>`
        }

        return html`
          <div className="container">
            ${specList.map(({ skuName, transNameList }, index) => html`
              <div key=${index}>
                <p className="skuName">${skuName}</p>
                <div className="specBox">
                  ${transNameList.map((value, i) => html`<${skuItem} value="${value}" i="${i}" index="${index}" />`)}
                </div>
              </div>
            `)}
            <input type="hidden" name="skuParam" value=${JSON.stringify(selectedCombination)} />
          </div>
        `;
      }
    }

    render(html`<${Sku} />`, document.querySelector("#prod-sku-container"));
  </script>
  <script>
    // leadComponentSite.miniUnitSku.init({});
  </script>
</body>

</html>