[@api method="post" url="/phoenix2/composite/graphql" jumpMethod="${jumpMethod!'0'}"
selectGroupIds="${selectGroupIds!''}"
expandIds="${expandIds!''}"
query='{
   articleCateList(selectGroupIds: $selectGroupIds, optionsParam: $optionsParam) {
              encodeId
              cateName
              parentCateId
              cateUrl
              subArticles
              showFieldList
    $showField
  }
}']

本周工作内容：
1、最小单元组件添加、编辑、拖拽、保存底层逻辑搭建
2、最小单元组件设置项动态渲染

下周工作内容：
1、最小单元组件接口联调（预计下周一联调接口）
2、开发产品详情对应最小单元组件(产品名称、产品简介、询盘按钮、产品图片、sku、产品描述)开发
3、产品名称、产品简介、询盘按钮、产品图片、sku、产品描述等对应组件设置项开发