<div class="row-container" data-gjs-type="rowContainer">
  <div class="column-container" data-gjs-type="column">
    <div class="lead-component-wrapper lead-container-wrapper" data-gjs-type="componentWrapper">
      <div data-provider="" class="lead-image-container" data-gjs-type="images" draggable="false">
        <picture class="lead-picture" data-gjs-type="pictureType" draggable="false">
          <source srcset="//g3.leadongcdn.cn/cloud/jiBpjKiilpSRikimnnjrjo/default_img.png" media="(min-width: 992px)"
            data-gjs-type="sourceType" draggable="false">
          <source srcset="//g3.leadongcdn.cn/cloud/jiBpjKiilpSRikimnnjrjo/default_img.png" media="(min-width: 768px)"
            data-gjs-type="sourceType" draggable="false"><img
            src="//g3.leadongcdn.cn/cloud/jiBpjKiilpSRikimnnjrjo/default_img.png" class="lead-img"
            data-gjs-type="imageType" loading="lazy" draggable="false">
        </picture>
      </div>
    </div>
    <div class="minimum-unit-container" data-gjs-type="minimum-unit-container">
      <div data-minimumunit-component="prodDetail-prodName" data-component-style="1" data-appid="21212" class="minimumUnitprodDetailName"
        data-gjs-type="minimum-unit-component" draggable="false">
        我是组件产品名称
      </div>
    </div>
  </div>
  <div class="column-container" data-gjs-type="column">
    <div class="minimum-unit-container" data-gjs-type="minimum-unit-container">
      <div data-minimumunit-component="prodDetail-prodName" data-component-style="1" data-appid="2323434" class="minimumUnitprodDetailName"
        data-gjs-type="minimum-unit-component" draggable="false">
        我是组件产品名称
      </div>
    </div>
    <div class="lead-component-wrapper" data-gjs-type="componentWrapper">
      <div class="lead-button-container" data-gjs-type="ButtonContainer" draggable="false"><a href="#"
          class="lead-button" data-gjs-type="button" draggable="false"><svg version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 24 24" xml:space="preserve" class="lead-css-pzetr" data-gjs-type="svg"
            draggable="false">
            <g fill="currentColor" class="nc-icon-wrapper" data-gjs-type="svg-in" draggable="false">
              <path fill="currentColor"
                d="M22.707,11.293L15,3.586L13.586,5l6,6H2c-0.553,0-1,0.448-1,1s0.447,1,1,1h17.586l-6,6L15,20.414 l7.707-7.707C23.098,12.316,23.098,11.684,22.707,11.293z"
                data-gjs-type="svg-in" draggable="false"></path>
            </g>
          </svg>
          <div class="lead-button-text" data-gjs-type="text" draggable="false">BUTTON</div>
        </a></div>
    </div>
    <div class="lead-text" data-gjs-type="text">
      <div draggable="false">This is the default text, you can click here to add the t342423424324ext content
        you want to render.</div>
    </div>
  </div>
</div>