[@page_node uuid="ygj-yuuyyt"]
[@api method="post" url="产品详情接口" prodId="${productId!''}" query="{type:''}"]
[#assign product = ]
<div class="dynamic-component-container" data-appId="77347" data-new-auto-uuid="proddetail_uuid_1111">
  <div class="row-container" data-gjs-type="rowContainer">
    <div class="column-container" data-gjs-type="column">
      <div class="lead-component-wrapper lead-container-wrapper" data-gjs-type="componentWrapper">
        <div data-provider="" class="lead-image-container" data-gjs-type="images" draggable="false">
          <picture class="lead-picture" data-gjs-type="pictureType" draggable="false">
            <source srcset="//g3.leadongcdn.cn/cloud/jiBpjKiilpSRikimnnjrjo/default_img.png" media="(min-width: 992px)"
              data-gjs-type="sourceType" draggable="false">
            <source srcset="//g3.leadongcdn.cn/cloud/jiBpjKiilpSRikimnnjrjo/default_img.png" media="(min-width: 768px)"
              data-gjs-type="sourceType" draggable="false"><img
              src="//g3.leadongcdn.cn/cloud/jiBpjKiilpSRikimnnjrjo/default_img.png" class="lead-img"
              data-gjs-type="imageType" loading="lazy" draggable="false">
          </picture>
        </div>
      </div>
      [@page_node uuid="ygj-yuuyyt"]
      <div class="minimum-unit-container" data-gjs-type="minimum-unit-container" data-new-auto-uuid="proddetail_component_uuid_22222">
        [@develop_include appId="21212" style="-1" fileName="view_default.html"][/@develop_include]
      </div>
      [/@page_node]
    </div>
    <div class="column-container" data-gjs-type="column">
      [@page_node uuid="ygj-yuuyyt"]
      <div class="minimum-unit-container" data-gjs-type="minimum-unit-container" data-new-auto-uuid="proddetail_component_uuid_333333">
        [@develop_include appId="12332" style="-1" fileName="view_default.html"][/@develop_include]
      </div>
      [/@page_node]
      [@page_node uuid="ygj-yuuyyt"]
      <div class="minimum-unit-container" data-gjs-type="minimum-unit-container" data-new-auto-uuid="proddetail_component_uuid_444444">
        [@develop_include appId="3434" style="-1" fileName="view_default.html"][/@develop_include]
      </div>
      [/@page_node]
      <div class="lead-component-wrapper" data-gjs-type="componentWrapper">
        <div class="lead-button-container" data-gjs-type="ButtonContainer" draggable="false"><a href="#"
            class="lead-button" data-gjs-type="button" draggable="false"><svg version="1.1"
              xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 24 24" xml:space="preserve" class="lead-css-pzetr" data-gjs-type="svg"
              draggable="false">
              <g fill="currentColor" class="nc-icon-wrapper" data-gjs-type="svg-in" draggable="false">
                <path fill="currentColor"
                  d="M22.707,11.293L15,3.586L13.586,5l6,6H2c-0.553,0-1,0.448-1,1s0.447,1,1,1h17.586l-6,6L15,20.414 l7.707-7.707C23.098,12.316,23.098,11.684,22.707,11.293z"
                  data-gjs-type="svg-in" draggable="false"></path>
              </g>
            </svg>
            <div class="lead-button-text" data-gjs-type="text" draggable="false">BUTTON</div>
          </a></div>
      </div>
      <div class="lead-text" data-gjs-type="text">
        <div draggable="false">This is the default text, you can click here to add the t342423424324ext content
          you want to render.</div>
      </div>
    </div>
  </div>
</div>
[/@api]
[/@page_node]