@font-face {
    font-family: "iconfont"; /* Project id 4215493 */
    src: url('//at.alicdn.com/t/c/font_4215493_toyim036i5.woff2?t=1701678143337') format('woff2'),
        url('//at.alicdn.com/t/c/font_2972245_enyfot2m2qd.woff2?t=1701678224186') format('woff2'),
         url('//at.alicdn.com/t/c/font_4215493_toyim036i5.woff?t=1701678143337') format('woff'),
         url('//at.alicdn.com/t/c/font_2972245_enyfot2m2qd.woff?t=1701678224186') format('woff'),
         url('//at.alicdn.com/t/c/font_4215493_toyim036i5.ttf?t=1701678143337') format('truetype'),
         url('//at.alicdn.com/t/c/font_2972245_enyfot2m2qd.ttf?t=1701678224186') format('truetype'),
         url('//at.alicdn.com/t/c/font_4215493_toyim036i5.svg?t=1701678143337#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-schedule-default1:before {
    content: "\e78a";
  }
  
  .icon-schedule-Selected1:before {
    content: "\e78b";
  }
  
  .icon-add:before {
    content: "\e782";
  }
  
  .icon-dianshu:before {
    content: "\e606";
  }
  
  .icon-upload:before {
    content: "\e605";
  }
  
  .icon-addphoto:before {
    content: "\e604";
  }
  
  .icon-Vector:before {
    content: "\e783";
  }
  
  .icon-Creative-default:before {
    content: "\e7af";
  }
  
  .icon-content-Select:before {
    content: "\e7ae";
  }
  
  .icon-clue-Selected:before {
    content: "\e7c2";
  }
  
  .icon-person-Selected:before {
    content: "\e7c6";
  }
  
  .icon-release-Selected:before {
    content: "\e7c5";
  }
  
  .icon-Creative-Select:before {
    content: "\e7b0";
  }
  
  .icon-content-default:before {
    content: "\e7b1";
  }
  
  .icon-clue-default:before {
    content: "\e7bf";
  }
  
  .icon-person-default1:before {
    content: "\e7c8";
  }
  
  .icon-release-default1:before {
    content: "\e7c7";
  }
  
  .icon-set1:before {
    content: "\e780";
  }
  
  .icon-calendar:before {
    content: "\e781";
  }
  
  .icon-set:before {
    content: "\e77f";
  }
  
  .icon-Facebook-1:before {
    content: "\e77b";
  }
  
  .icon-Facebook:before {
    content: "\e77c";
  }
  
  .icon-Linkedin-1:before {
    content: "\e77d";
  }
  
  .icon-Linkedin:before {
    content: "\e77e";
  }
  
  .icon-moliai:before {
    content: "\e77a";
  }
  
  .icon-settings:before {
    content: "\e76e";
  }
  
  .icon-Upload:before {
    content: "\e76f";
  }
  
  .icon-smile:before {
    content: "\e770";
  }
  
  .icon-image:before {
    content: "\e76c";
  }
  
  .icon-video:before {
    content: "\e771";
  }
  
  .icon-copy:before {
    content: "\e772";
  }
  
  .icon-refresh-ccw:before {
    content: "\e773";
  }
  
  .icon-x-circle:before {
    content: "\e774";
  }
  
  .icon-rotate:before {
    content: "\e775";
  }
  
  .icon-send:before {
    content: "\e776";
  }
  
  .icon-clock:before {
    content: "\e777";
  }
  
  .icon-link:before {
    content: "\e778";
  }
  
  .icon-edit:before {
    content: "\e779";
  }
  
  .icon-trash:before {
    content: "\e76d";
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-shezhi:before {
    content: "\e68b";
  }
  
  .icon-bianji:before {
    content: "\e678";
  }
  
  .icon-fuzhi:before {
    content: "\e679";
  }
  
  .icon-shanchu:before {
    content: "\e67e";
  }
  
  .icon-tiqianjieshu:before {
    content: "\e67f";
  }
  
  .icon-yulan:before {
    content: "\e680";
  }
  
  .icon-guanbi:before {
    content: "\e681";
  }
  
  .icon-liebiaofanye:before {
    content: "\e682";
  }
  
  .icon-paixu:before {
    content: "\e683";
  }
  
  .icon-rili:before {
    content: "\e684";
  }
  
  .icon-shanjian:before {
    content: "\e685";
  }
  
  .icon-sousuo:before {
    content: "\e686";
  }
  
  .icon-tishi:before {
    content: "\e687";
  }
  
  .icon-xiala:before {
    content: "\e688";
  }
  
  .icon-xuanzhong:before {
    content: "\e689";
  }
  
  .icon-zengjia:before {
    content: "\e68a";
  }
  
  
  
  