@media (min-width: 990px) {
    [data-type="rows"][data-level="rows"] {
        display: flex;
    }
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .front-icon-box.icon-style i {
    font-size: 16px;
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .style21 #ocACKYOEsytj-lang-drop-arrow {
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .style21 .lang-menu .lang-item a {
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .icon-style-i {
    font-size: 16px;
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .lang-bar.style18.lang-style .lang-dropdown .block-iconbaseline-down {
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .lang-bar.style18.lang-style .lang-dropdown .lang-selected {
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .lang-bar.style18.lang-style .lang-dropdown .lang-menu a {
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .lang-bar.style18.lang-style .lang-dropdown .lang-menu {
    border-color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .lang-bar.style21.lang-style .lang-dropdown .lang-menu .menu-close-btn i {
    background: rgb(10, 142, 245) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .front-icon-box i {
    font-size: 20px;
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .front-icon-box.icon-style i {
    font-size: 20px;
    color: rgb(51, 51, 51) !important;
}

.sitewidget-langBar-20201028104605 .sitewidget-bd .front-icon-box i:hover {
    color: rgb(51, 51, 51) !important;
}

.prodDiv.margin20 {
    margin-top: 20px;
}

.sitewidget-prodSearchNew-20200927170029 .prodsearch-styles-wrap q {}

.sitewidget-prodSearchNew-20200927170029 .underline-search-box .search-box form {
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: transparent;
}

.sitewidget-prodSearchNew-20200927170029 .underline-search-box .search-box .search-fix-wrap {
    margin-right: 36px;
}

.sitewidget-prodSearchNew-20200927170029 .underline-search-box .search-box .search-fix-wrap input[type="text"] {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.sitewidget-prodSearchNew-20200927170029 .underline-search-box .search-box .search-fix-wrap input[type="text"]::-webkit-input-placeholder {}

.sitewidget-prodSearchNew-20200927170029 .underline-search-box .search-box .search-fix-wrap button {
    width: 36px;
    height: 36px;
}

.sitewidget-prodSearchNew-20200927170029 .underline-search-box .search-box .search-fix-wrap button .icon-svg {
    width: 16px;
    height: 16px;
    fill: rgb(238, 238, 238);
}

@media (min-width: 900px) {
    .sitewidget-prodSearchNew-20200927170029 .positionLeft .search-keywords {
        line-height: 36px;
    }

    .sitewidget-prodSearchNew-20200927170029 .positionRight .search-keywords {
        line-height: 36px;
    }
}

.sitewidget-prodSearchNew-20200927170029 .positionDrop .search-keywords {
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(238, 238, 238);
    border-bottom-color: rgb(238, 238, 238);
    border-left-color: rgb(238, 238, 238);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
}

.sitewidget-prodSearchNew-20200927170029 .positionDrop q {
    margin-left: 10px;
}

@font-face {
    font-family: feedback-iconfont;
    src: url("//at.alicdn.com/t/font_1031158_u69w8yhxdu.woff2?t=1630033759944") format("woff2"), url("//at.alicdn.com/t/font_1031158_u69w8yhxdu.woff?t=1630033759944") format("woff"), url("//at.alicdn.com/t/font_1031158_u69w8yhxdu.ttf?t=1630033759944") format("truetype");
}

.sitewidget-shoppingcartStatus-20200928113500 a.shopping-colorshow-hypelink {
    display: block;
    position: relative;
    width: 120px;
    height: 40px;
    background: rgb(226, 226, 226);
    text-align: center;
    line-height: 40px;
    border-radius: 3px;
}

.sitewidget-shoppingcartStatus-20200928113500 a.shopping-colorshow-hypelink img {
    vertical-align: middle;
}

.sitewidget-shoppingcartStatus-20200928113500 .shopping-colorshow-hypelink span {
    position: absolute;
    display: block;
    top: -10px;
    right: -11px;
    width: 22px;
    height: 22px;
    background: rgb(241, 2, 21);
    border-radius: 11px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sitewidget-shoppingcartStatus-20200928113500 .shopping-colorshow-hypelink.shopping-cart-link-new {
    width: auto;
    display: flex;
    align-items: center;
    background: transparent;
    height: auto;
    line-height: unset;
}

.sitewidget-shoppingcartStatus-20200928113500 .shopping-colorshow-hypelink.shopping-cart-link-new i {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.sitewidget-shoppingcartStatus-20200928113500 .shopping-colorshow-hypelink.shopping-cart-link-new div {
    margin-left: 6px;
}

.sitewidget-shoppingcartStatus-20200928113500 .shopping-colorshow-hypelink.shopping-cart-link-new span {
    position: unset;
    text-align: center;
    border-radius: 50%;
    margin-left: 6px;
    height: 18px;
    width: auto;
    min-width: 18px;
    line-height: 18px;
    font-size: 12px;
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    overflow: initial;
    text-overflow: unset;
    white-space: unset;
}

.sitewidget-userLoginStatus-20200928131910 .userLoginStatus i {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.sitewidget-userLoginStatus-20200928131910 .userLoginStatus:hover i {}

.sitewidget-logo-20200927163718 img {
    filter: blur(0px);
    transition: filter 0.5s ease 0s;
}

.sitewidget-quickNav-20200928142335 .sitewidget-bd a.on,
.sitewidget-quickNav-20200928142335 .sitewidget-bd a.anchor-light {
    color: rgb(252, 192, 48);
}

.sitewidget-quickNav-20200928142459 .sitewidget-bd a.on,
.sitewidget-quickNav-20200928142459 .sitewidget-bd a.anchor-light {
    color: rgb(252, 192, 48);
}

git config --global http.proxy 'http://192.168.28.54:8080' 
git config --global https.proxy 'http://192.168.28.54:8080'